<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
<body>
  <div class="body-container">
    <div class="nav-ribbon">
      <app-nav-ribbon></app-nav-ribbon>
    </div>
    <div>
    <app-month-year-selector-ribbon></app-month-year-selector-ribbon>
      <!-- <app-employee-card></app-employee-card>
    <br>
    <app-seat-booking-card></app-seat-booking-card>
    <br>
    <app-yes-no-selector></app-yes-no-selector>
    <br> -->
    <app-seat-booking-calendar></app-seat-booking-calendar>
  </div>
  </div>

</body>
